<div class="project-container">
  <div class="main-project project-box">
    <h1>Exad</h1>
    <p>Marketplace specializing in exotic, adrenaline-fueled adventures and extreme sports.</p>
    <a href="https://testflight.apple.com/join/O19OHNWn" class="project-link">Try it out on TestFlight</a>
    <div class="project-details">
      <div class="section">
        <h2>Customer Side</h2>
        <p>Find activities near you, book easily, and enjoy a seamless experience with full Stripe integration and automated invoicing.</p>
        <%= image_tag 'customer_side_image.jpg', alt: 'Customer Side Image', class: 'project-image' %>
      </div>
      <div class="section">
        <h2>Business Side</h2>
        <p>Manage your business, track clients, and control your reputation all in one place.</p>
        <%= image_tag 'business_side_image.jpg', alt: 'Business Side Image', class: 'project-image' %>
      </div>
    </div>
  </div>

  <div class="project-box">
    <h2>Ripped Utopia</h2>
    <p>Fitness & Powerlifting app with over 1,300 exercises and personalized workouts. Enables progress tracking and data syncing.</p>
    <a href="https://testflight.apple.com/join/QhfvwyzW" class="project-link">Try it out on TestFlight</a>
    <%= image_tag 'ripped_utopia_image.jpg', alt: 'Ripped Utopia Image', class: 'project-image' %>
  </div>
  <div class="project-box">
    <h2>USF Sport Marketing</h2>
    <p>University app designed to enhance the visibility of the association and improve communication channels.</p>
    <a href="https://apps.apple.com/ca/app/usf-sport-marketing/id6444582116" class="project-link">Find it on the Apple Store</a>
    <%= image_tag 'usf_sport_marketing_image.jpg', alt: 'USF Sport Marketing Image', class: 'project-image' %>
  </div>
  <div class="project-box">
    <h2>EasyFind</h2>
    <p>Phone app for discovering local activities, events, movies, and restaurants.</p>
    <a href="https://www.easyfind.click/" class="project-link">Find the software here</a>
    <%= image_tag 'easyfind_image.jpg', alt: 'EasyFind Image', class: 'project-image' %>
  </div>
</div>
