<div class="project-container" data-controller="project">
  <div class="project-box exad-box">
    <h2>EXAD</h2>
    <img src="<%= asset_path('project/exad_logo.png') %>" alt="EXAD Logo" class="project-logo">
    <p>EXAD is the main project I have been working on.<br><br> It is a marketplace specializing in exotic, adrenaline-fueled adventures and extreme sports.</p>
    <div class="button-container">
      <a href="https://testflight.apple.com/join/O19OHNWn" class="project-link" target="_blank">View EXAD on TestFlight</a>
      <a href="#exad-details" class="project-details-link">Discover Now!</a>
    </div>
  </div>

  <div class="project-grid">
    <div class="project-box">
      <h2 style="margin-top: 5px;">Ripped Utopia</h2>
      <img src="<%= asset_path('project/ripped_utopia_logo.png') %>" alt="Ripped Utopia Logo" class="project-logo">
      <p>Fitness & Powerlifting app that contains over 1,300 exercises and personalized workouts. Enables progress tracking and data syncing between an online and offline database.</p>
      <div class="button-container">
        <a href="https://testflight.apple.com/join/QhfvwyzW" class="project-link" target="_blank">View Ripped Utopia on TestFlight</a>
        <a href="#ripped-utopia-details" class="project-details-link">Discover Now!</a>
      </div>
    </div>

    <div class="project-box">
      <h2 style="margin-top: 35px;">USF Sport Marketing</h2>
      <img src="<%= asset_path('project/SMA_logo.png') %>" alt="USF Sport Marketing Logo" class="project-logo">
      <p>University app designed to enhance the visibility of the association and improve communication channels to effectively reach our target demographic.</p>
      <div class="button-container">
        <a href="https://apps.apple.com/ca/app/usf-sport-marketing/id6444582116" class="project-link" target="_blank">View USF Sport Marketing on App Store</a>
        <a href="#usf-sport-marketing-details" class="project-details-link">Discover Now!</a>
      </div>
    </div>

    <div class="project-box">
      <h2 style="margin-top: 10px;">EasyFind</h2>
      <img src="<%= asset_path('project/easyfind_logo.png') %>" alt="EasyFind Logo" class="project-logo">
      <p>EasyFind, my final project for the Le Wagon Web Development Bootcamp, is a phone app that helps newcomers discover local attractions, events, movies, and restaurants using APIs like PredictHQ, Yelp, TMDB, and Mapbox.</p>
      <div class="button-container">
        <%# <a href="https://www.easyfind.click/" class="project-link" target="_blank">View EasyFind Phone App</a> %>
        <a href="#easyfind-details" class="project-details-link">Discover Now!</a>
      </div>
    </div>

    <div class="project-box">
      <h2 style="margin-top: 30px;">Personal Website (Wix)</h2>
      <img src="<%= asset_path('project/wix_logo.png') %>" alt="Personal Website Logo" class="project-logo">
      <p>My personal website showcases my background, schooling, professional experience, event-based contracts, and a contact page. It's a comprehensive display of my work and achievements.</p>
      <div class="button-container">
        <a href="https://lefebvrelaurent.com" class="project-link" target="_blank">View Personal Website</a>
      </div>
    </div>
  </div>

  <div class="details-delimiter"></div>

  <%= render 'projects/exad_details' %>
  <%= render 'projects/ripped_utopia_details' %>
  <%= render 'projects/usf_sport_marketing_details' %>
  <%= render 'projects/easyfind_details' %>
  <div class="background-greenneon small-margin">
    <a href="https://www.linkedin.com/in/laurentlefebvre/" target="_blank" class="social-buttons"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://www.instagram.com/laurent.d.lefebvre/" target="_blank" class="social-buttons"><i class="fa-brands fa-square-instagram"></i></a>
    <a href="https://github.com/ldlefebvre" target="_blank" class="social-buttons"><i class="fa-brands fa-square-github"></i></a>
    <%# <div class="rectangle-lightgreen"><a href="https://soundcloud.com/llefebvre" target="_blank" class="social-buttons-opp"><i class="fa-brands fa-soundcloud"></i></a></div> %>
  </div>
</div>
