<div class="navbar navbar-expand-sm navbar-light navbar-web">
  <div class="navbar-content">
    <div class="nav-item logo">
      <%= link_to root_path, class: "text-decoration-none nav-link logo-link", style: "color: inherit;" do %>
        <div class="logo-image" alt="logo"></div>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav align-items-center activate me-auto">
        <li class="nav-item burger-nav-item <%= 'active' if current_page?(aboutme_path) %> tabs-margin">
          <h4 class="innerbox-marging">
            <%= link_to 'About Me', aboutme_path, class: "text-decoration-none nav-link", style: "color: inherit;" %>
          </h4>
        </li>
        <li class="nav-item burger-nav-item <%= 'active' if current_page?(project_path) %> tabs-margin">
          <h4 class="innerbox-marging">
            <%= link_to 'My Projects', project_path, class: "text-decoration-none nav-link", style: "color: inherit;" %>
          </h4>
        </li>
        <li class="nav-item burger-nav-item <%= 'active' if current_page?(contact_path) %> tabs-margin">
          <h4 class="innerbox-marging">
            <%= link_to 'Contact', contact_path, class: "text-decoration-none nav-link", style: "color: inherit;" %>
          </h4>
        </li>
      </ul>
    </div>
    <%= image_tag('mepng.png', class: 'nav-pic', alt: 'Circular Image of Laurent') %>
  </div>
</div>
